<div class="page-header">
  <h1><small>Redner Nodes</small></h1>
</div>
<div ng-show="showMsg.warn || showMsg.error || showMsg.success" class="alert alert-dismissible fade in" role="alert" ng-class="{'alert-warning': showMsg.warn, 'alert-success': showMsg.success, 'alert-danger': showMsg.error}">
			<button type="button" class="close"  aria-label="Close" ng-click="deleteMsg()"><span aria-hidden="true">&times;</span></button>
			
			{{showMsg.warn}}{{showMsg.error}}{{showMsg.success}}
</div>

<button type="button" class="btn btn-primary" ng-click="sendChallange()">Update</button>
<label class="pull-right">Search: <input ng-model="search.$"></label> 
<br><br>

<table class="table table-hover">
	<tr>
		<th width="30px">#</th><th width="20%" ng-click="orderByParam('name')"><span>Name</span> <span class="glyphicon" ng-show="orderNodes == 'name'" ng-class="reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" aria-hidden="true"></span></th>
		<th width="25%" ng-click="orderByParam('user')"><span>User</span> <span class="glyphicon" ng-show="orderNodes == 'user'" ng-class="reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" aria-hidden="true"></span></th>
		<th ng-click="orderByParam('services')" ><span>Service</span> <span class="glyphicon" ng-show="orderNodes == 'services'" ng-class="reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" aria-hidden="true"></span></th>
		<th width="15%" ng-click="orderByParam('cpu')"><span>CPU</span> <span class="glyphicon" ng-show="orderNodes == 'cpu'" ng-class="reverse ? 'glyphicon-triangle-bottom' : 'glyphicon-triangle-top'" aria-hidden="true"></span></th>
	</tr>
	<tr ng-repeat="node in dr | orderBy:orderNodes:reverse | filter:search" ip="{{node.ip}}" ng-show="socketResponse[node.ip] != 'DISCONNECTED'" ng-disabled="isReserved(node.user)"  ng-model="checkModel[node.ip]" uib-btn-checkbox ng-class="{disabled: isReserved(node.user), reserved: node.user == userInfo.user}" class="animate-repeat">
		<td><span class="glyphicon" ng-class="checkModel[node.ip] ? 'glyphicon-check': 'glyphicon-unchecked'" aria-hidden="true"></span></td>
		<td><a href="" uib-tooltip="IP: {{node.ip}}">{{node.name}}</a></td>
		<td>
			{{node.user}}
		</td>
		<td>
			{{node.services}}
		</td>
		<td>
		<div class="progress" style="margin-bottom: 0;">		
		  <div class="progress-bar progress-bar-striped active" ng-style="{'width': node.cpu + '%'}" ng-class="{'progress-bar-success': node.cpu > 0, 'progress-bar-warning': node.cpu > 33, 'progress-bar-danger': node.cpu > 66}">{{node.cpu}}%</div>		 		
		</div>
		</td>
	</tr>
</table>

<button type="button" class="btn btn-success" ng-click="getNodes()">Get Nodes</button>	
<button type="button" class="btn btn-danger" ng-click="dropNodes()">Drop Nodes</button>	
<br><br>
<div class="page-header">
  <h1><small>Services</small></h1>
</div>




