/* TEMPLARE CSS */

.header {
	background: #F5F5F5;
	border-bottom: 1px solid #DADADA;
	min-height: 80px;
	position: relative;
}
.header .glyphicon {
	color: #888888;
	font-size: 21px;
}
.nav-buttons > li > a {
	padding-top: 27px;
	padding-bottom: 27px;
	color: #888888;
	padding-left: 12px;
	padding-right: 12px;
}

.logo {
	height: 44px;
	margin: 16px 0;
	position: absolute;
	float: left;
}
.head-title {
	color: #888888;
	font-size: 20px;
	padding: 27px 0 0 115px;
	display: inline-block;
	vertical-align: top;
}

.navbar-default {
	background-color: transparent !important;
}

.nav-buttons {
	float: right;
}
.nav-buttons > li {
	display: inline-block;
}

.padding-0-15 {
	padding: 0 15px;
}

.navbar-header {
	margin: 0 !important;
}

.pos-fixed {
	position: fixed;
}

@media(max-width: 550px) {
	.hidden-xxs {
		display: none !important;
	}
	
	.disable-hover-xxs:hover {
		position: relative !important;
		transform: none !important;
	}
	
	.visible-xxs {
		display: block !important;
	}
		
	.float-left-xxs {
		float: left !important;
	}
	.margin-left-minus-15-xxs {
		margin-left: -15px;
	}
	
	.col-xxs-offset-0 {
		margin-left: 0%;
	}
	.col-xxs-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-xxs-offset-3 {
		margin-left: 25%;
	}
	.col-xxs-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-xxs-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-xxs-offset-6 {
		margin-left: 50%;
	}
		
	.col-xxs-1 {
		width: 8.33333333%;
	}
	.col-xxs-2 {
		width: 16.66666667%;
	}
	.col-xxs-3 {
		width: 25%;
	}
	.col-xxs-4 {
		width: 33.33333333%;
	}
	.col-xxs-5 {
		width: 41.66666667%;	
	}
	.col-xxs-6 {
		width: 50%;
	}
	.col-xxs-7 {
		width: 58.33333333%;
	}
	.col-xxs-8 {
		width: 66.66666667%;
	}
	.col-xxs-9 {
		width: 75%;
	}
	.col-xxs-10 {
		width: 83.33333333%;
	}
	.col-xxs-11 {
		width: 91.66666667%;
	}
	.col-xxs-12 {
		width: 100% !important;
	}
}
@media screen and (max-width: 768px) {
    .visible-xs-inline {
        display: inline-block !important;
    }	

	.pos-rel-xs {
		position: relative;
	}	
}

.admin-menu {
	border-radius: 50% !important;
	position: fixed;
	display: block;
	height: 60px;
	width: 60px;
	font-size: 25px;	
	z-index: 200;
	right: 10px; 
}

.admin-menu .list-group-item {
	border: none !important;
	line-height: 120%;
	padding: 10px;
}

.admin-menu .dropdown-menu {
	margin-right: 15px;
	font-size: 20px;
	min-width: 200px;
}

.admin-menu button {
	box-shadow: 0px 0px 11px rgb(43, 93, 136);
}

.admin-menu .glyphicon {
	margin-top: 10px;
}

.head-title{
	color: #A7A9AC; 
	font-size: 20px; 	
	padding: 26px 0 0 130px;
	display: inline-block;
	vertical-align: top;
}

*, body{
	border-radius: 0 !important;
	outline: 0 !important;
	-webkit-user-select: none; 
	-moz-user-select: none;     
	-ms-user-select: none;      
	user-select: none; 
}

.main-buttons {
    display: block;
    position: fixed;
    bottom: 0;
	width: 100%;
	left: 0;
    background: #F5F5F5;
    padding: 10px 0px 4px 0px;
    z-index: 50;
    border: 1px solid #dadada;
	box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
}

.color-tabs li a{
    box-shadow: inset 0px 3px 0px 0px #DDD;
}

.home{
	padding-bottom: 145px;
}

.reserved .glyphicon {
	color: white;
}

.reserved .progress-bar-success,
.reserved.active .progress-bar-success
{
	background-color: green !important;
	color: white !important;
}

.reserved .progress-bar-danger, 
.reserved.active .progress-bar-danger
{
	background-color: red !important;
	color: white !important;
}

.active .progress-bar-success{
	color: black !important;
}

.active .progress-bar-danger{
	color: black !important;
}

.reserved td {
	border: 0 !important;
}

.popoverTip {
	width: 175px;
	padding: 5px;
	opacity: 1 !important;
	background: rgba(255, 255, 255, 1);
	font-size: 11px;
}

tr:hover th
{
	background-color: #FFF !important;
}

tr td, tr th span {
	cursor: pointer;
	text-overflow: ellipsis;
}

tr.reserved td:not(:last-child), tr.reserved td a{
	background: #337AB7 !important;
	color: #FFF;
	border-top: #337AB7 !important;
}

tr.reserved.active td:not(:last-child), tr.reserved.active td a{
	background: #1D4567 !important;
	color: #FFF;
	border-top: #1D4567 !important;
}

.progress-bar-success {
	background-color: #5cb85c;
	color: white;
}

.progress-bar-danger {
	background-color: #d9534f;
	color: white;
}

.pointer {
	cursor: pointer;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc'; 
}

.menu-icon{
	font-size: 35px;
	color: #A7A9AC;
}


@media (min-width: 768px) {
    .pull-right-lg {
        float: right;
    }
}

.float {
	position: fixed;
	top: 0px;
	z-index: 100;
	left: 0;
	right: 0;		
	padding-bottom: 10px;
	padding-top: 10px;
}

.float-fix {
	position: fixed;
	top: 0px;
	z-index: 100;
	padding-bottom: 10px;
	padding-top: 10px;
	background: #FFF !important;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.float-fix > th {
	border-top: 0 !important;
}

.float.container {
	background: #FFF !important;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.float > * {
	margin: 0 !important;
}

.popup.move{	
	margin-bottom: -170px;
}

.popup {
	position: fixed;
	bottom: 55px;
	z-index: 101;
	background: #FFF;
	width: 100%;
	left: 0;
	right: 0;
	padding: 0;
	box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
	transition: 1s;
	margin-top: 0px;
	z-index: 10;
	cursor: pointer;
}

.popup > * {
	margin: 0 !important;
}

.popup .alert-success {
    color: #FFF;
    background-color: #56AF53;
    border-color: #FFF;
    box-shadow: 0px 0px 13px 0px rgba(86, 175, 83, 0.6) !important;
	border: 4px solid #FFF;
}

.popup .alert-danger {
	color: #FFF;
    background-color: #D1524C;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(209,82,76,0.6) !important;
	border: 4px solid #FFF;
}

.popup .alert-warning {
	color: #FFF;
    background-color: #E69B18;
    border-color: #FFF;
	box-shadow: 0px 0px 13px 0px rgba(230,155,24,0.6) !important;
	border: 4px solid #FFF;
}

.popup .close {
	opacity: 1.0;
	text-shadow: none;
	padding: 10px;
    top: 8px;
    right: 21px;
    position: absolute;
}

.popup .close:hover {
	opacity: 0.5;
	text-shadow: none;
	color: #FFF;
}

.progress-text{
	color: #0a0a0a;
	font-size: 12px;
	text-align: left;
	line-height: 23px;
	position:absolute;
	text-shadow: 1px 1px 0 #fff;
	min-width: 100px;
	left:0;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	
}

.progress-bar {
	position: relative !important;
}

.text-white {
	color: white;
}

.disabled td:nth-child(1),
.disabled td:nth-child(2),
.disabled td:nth-child(4),
.disabled td:nth-child(5)
{
	 cursor: not-allowed !important;
	 opacity: 0.3;
}

.loading-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.75);
}
.loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 60px;
	display: block;
}

.loading-img {
	background-repeat: no-repeat;
    background-position: 50% 50%;
	background-size: cover;
    background-image: url('../img/loading.svg');
    animation: rotate 0.7s linear infinite;
    width: 100%;
    height: 100%;	
}
@keyframes rotate
{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.progress-bar{
	transition: none !important;
}

.btn{
	margin-bottom: 5px;
}

.modal-bg{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.7);
	width: 100%;
	height: 100%;
	transition: 1s all linear;
}

.popover-content{
	padding: 0;
}

.pin {
	position: fixed;
    bottom: 0;
    background-color: white;
    display: block;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.2);
    padding: 10px;
    right: 0;
    left: 0;
}

.pin-container {
	padding-bottom: 70px;
}


/* LIGHTBOX */
.light-box {
	position: fixed;
	background: rgba(0,0,0,0.9);
	z-index: 1253;
	opacity: 1.0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all linear 0.3s;
}
.light-box.ng-hide {
	opacity: 0;
	transition: all linear 0s;
}
.light-box img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	transform: translate(-50%, -50%);
	transition: all linear 0.3s;
	transition-delay: 0.15s;
	cursor: pointer;
}

.light-box .close {
	display: block;
	width: 100%;
	height: 100%;
	bottom: 0;
	position: fixed;
	cursor: pointer;
}

.light-box h3 {
	margin-top: 0;
}

.light-box td {
	padding: 5px;
}

.light-box .progress {
	margin: 0;
}

.light-box .label {
	font-size: 85%;
}

.light-box > span:hover {
	opacity: 1;
}

.light-box > span {
	font-size: 35px;
	color: #FFF;
	cursor: pointer;
	opacity: 0.5;
}

.light-box-close{
	padding: 20px;
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1000;
}

.node-info {
	background-color: #FFF;
    padding: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	line-height: normal !important;
	max-height: 98%;
	overflow-y: auto;
}

.node-info table td {	
	vertical-align: middle !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	border-bottom: 1px solid #F1F1F1;	
}

.node-info table {
	margin-bottom: 20px;
}


/* DASHBOARD */

.dashboard-card {
	height: 160px;
	padding: 10px;
	color: #FFFFFF;
	position: relative;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
	margin: 10px 0;
}


.dashboard-card.blue {
	background: rgba(0,192,239,1.00);
}
.dashboard-card.green {
	background: rgba(0,166,90,1.00);
}
.dashboard-card.red {
	background: rgba(222,75,57,1.00);
}
.dashboard-card.yellow {
	background: rgba(243,156,17,1.00);
}
.dashboard-card.color2 {
	background: rgba(158,212,28,1);
}

.dashboard-card.color3 {
	background: rgba(128,100,162,1);
}

.dashboard-card .bottom {
	background: rgba(0,0,0,0.2);
	text-align: center;
	padding: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-left: -10px;
}
.dashboard-card a {
	color: #FFFFFF;
}
.dashboard-card .big-font {
	font-size: 3em;
	color: #FFF;
	font-weight: bold;
	font-family: monospace;
}
.dashboard-card .icon {
	color: rgba(0,0,0,0.2);
	font-size: 7em;
	position: absolute;
	top: 10px;
	right: 10px;
}

/* STATISTIC */

.statistic {
	opacity: 0.1;
	transition: 0.3s linear all;
}

.statistic.show {
	opacity: 1.0;
	transition: 0.8s linear all;
}

ul.legend {
	margin: 0;
	padding: 0;
	margin-top: 10px;	
}

.legend li {
	/*display: inline-block;*/
	list-style: none;
	margin: 0 5px;
	color: #787878;
	font-size: 12px;
	margin: 4px 0;
	padding-left: 47px;
	position: relative;
}

.legend li .color {
	width: 40px;
	height: 13px;
	margin-right: 5px;
	position: absolute;
	left: 0;
	top: 1px;
}


.stat-by-node tr td:last-child{
	padding: 0;
	position: relative;
}

.load-percent.green {
	background-color: #5cb85c;
}

.load-percent.red {
	background-color: #D9534F;
}

.load-percent {
		display: block;
	float: left;
	line-height: 36px !important;
	text-align: center;
	color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}